.aboutUsBody {
  overflow-x: hidden !important;
  background-image: url('../../images/Stagnant-BG-Webp.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
  color: white;
}
.aboutUs__slider{
  padding-top: 5rem;
}
.aboutUs__slider__last{
  padding-bottom: 5rem;
}
.About__Us__part1 {
  margin-top: 8rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.About__Us__part1__techfest__logo {
  display: flex;
  flex-grow: 0.1;
  border-right: 2px solid #fff;
}
.About__Us__part1__techfest__logo img {
  height: 250px;
  width: 300px;
}
.About__Us__part1__SLIET__logo img {
  height: 260px;
  width: 270px;
}
.About__Us__part1__SLIET__logo {
  display: flex;
  justify-content: center;
  flex-grow: 0.1;
}
.About__Us__part2 {
  justify-content: center;
  margin-top: 5rem;
  flex-direction: column;
  text-align: center;
  
}
.About__Us__part2__text {
  font-size: 1.3rem;
  color: #fff;
  padding-top: 1rem;
  word-spacing: 2px;
  letter-spacing: 0.2px;
  width: 50rem;
  margin: auto;
 
  
}

.container__college__people__money1 {
  margin-top: 10rem;
  padding-bottom: 2rem;
}
.college__people__money1 {
  margin-top: 3rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: row;
}
.container__college__people__money1 .colhmn {
  flex-grow: 0.8;
  margin-top: 2rem;
}
.number {
  text-align: center;
  font-size: 3rem;
  margin-top: 3rem;
  color: white;
}
.college {
  border-right: 8px solid rgba(98, 172, 108, 1);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.text {
  text-align: center;
  font-size: 1.3rem;
  color: white;
}
.people {
  border-right: 8px solid rgba(98, 172, 108, 1);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.money {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.container__college__people__money2 {
  display: none;
}

.About__Us__About__SLIET {
  display: flex;
  justify-content: center;
  color: #fff;
  align-items: center;
  background-color: #091e02;
  flex-direction: column;
  flex-grow: 0.25;
  border: 2px solid rgba(98, 172, 108, 1);
  border-radius: 20px;
}
.container__About__Sliet {
  padding-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
  margin: auto;
  padding-bottom: 5rem;
}
.About__Us__About__Sliet__Description {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  width: 35rem;
  padding-top: 15px;

}
.About__Us__About__Sliet__Description1 {
  display: none;
}
.About__Us__About__Sliet__Heading {
  margin-top: 0.5rem;
  font-size: 3.2rem;
  border-bottom: 2px solid #fff;
}
@media screen and (max-width: 490px) {

  .college__people__money1 {
    margin-top: -3rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .About__Us__part2__text
  {
    text-align: justify !important;
  }
  .college {
    border: none;
    border-bottom: 8px solid rgba(98, 172, 108, 1);
  }
  .people {
    border: none;
    border-bottom: 8px solid rgba(98, 172, 108, 1);
  }
  .money {
    border: none;
    border-bottom: 8px solid rgba(98, 172, 108, 1);
  }
  .number {
    margin-top: -0.2rem;
  }
  .container__About__Us__Upperpart {
    background-image: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0;
   
  }
  .About__Us__part1__techfest__logo {
    display: flex;
    flex-grow: 1;
  }
  .About__Us__part1__SLIET__logo {
    display: flex;
    flex-grow: 1;
  }

  .About__Us__part1__techfest__logo img {
    height: 130px;
    width: 150px;
  }
  .About__Us__part1__SLIET__logo img {
    height: 130px;
    width: 150px;
  }

  .About__Us__part2 img {
    width: 150px;
  }
  .About__Us__part2__text  {
    width: 25rem;
    text-align: center;
  }
  .About__Us__part2 {
    margin-top: 1.5rem;
  }
  .About__Us__About__Sliet__Heading {
    font-size: 1.2rem;
    margin-top: 0rem;
  }
  .About__Us__About__Sliet__Description p {
    font-size: 0.6rem;
    text-align: center;
  }

  .About__Us__About__SLIET {
    margin-left: 2rem;
    background-size: cover;
    padding-bottom: 0;
    border-radius: 10px;
  }
}
@media screen and (max-width: 426px) {
  .About__Us__part1{
    margin-left: 1.7rem;
  }
  
}
@media screen and (max-width: 376px) {
  .About__Us__part2__text{
    width: 20rem !important ;
  }
  
}
@media screen and (max-width: 326px) {
  .About__Us__part2__text{
    width: 18rem !important ;
  }
  
}
@media screen and (max-width: 403px) {
  .container__About__Us__Upperpart {
    margin-left: 4.5rem;
  }
  .About__Us__part2__text  {
   width: 24rem;
  
  }
 
  .container__college__people__money1 {
    margin-left: 4.5rem;
  }
  .About__Us__About__SLIET {
    margin-left: 4.5rem;
    padding-bottom: 0;
  }
  .About__Us__About__Sliet__Description p {
    font-size: 0.66rem;
  }
}


.website_year-declaration_outer-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.heading h1 {
  font-size: 3rem;
  font-family: 'heading font';
}

.para {
  width: 23rem;
}

.para p {
  font-size: 1.2rem;
  text-align: left;
  word-spacing: 1px;
}

.image-box {
  width: 320px;
}

.image-box img {
  width: 100%;
}
.website_year-declaration_left-block_img {
  /* background-color: aqua; */
  margin-left: -7rem;
}

@media screen and (max-width: 768px) {
  .image-box {
    width: 177px;
  }
  .heading h1 {
    font-size: large;
  }
  .para {
    width: 20rem;
  }
  .para p {
    font-size: xx-small;
  }

}

@media screen and (max-width: 480px) {
  .image-box {
    max-width: 160px;
  }
  .para {
    width: 12.2rem;
  }
  .website_year-declaration {
    margin-left: 4rem;
  }
}
/* yearly-logo styling ends here */


.trailer_container {
  display: grid;
  justify-content: center;
  gap: 4px;
  align-content: center;
  grid-auto-flow: row;
}

.trailer_iframe {
  width: 550px;
  height: 300px;
  border-radius: 10px;
  border: 0.1px solid rgb(112, 111, 111);
}

@media screen and (max-width: 662px) {
  .trailer_iframe {
    width: 500px;
    height: 280px;
  }
}


@media screen and (max-width: 562px) {
  .trailer_iframe {
    width: 400px;
    height: 250px;
  }
}

@media screen and (max-width: 368px) {
  .trailer_iframe {
    width: 450px;
    height: 230px;
  }
  .About__Us__About__Sliet__Description {
   
    width: 16rem !important;
  }
}
@media screen and (max-width: 376px) {
  .container__About__Us__Upperpart{
    margin-left: -1rem;
  }
  .container__college__people__money1{
    margin-left: -1rem;
  }
  .container__About__Sliet{
    margin-left: -3.8rem;
  }
  .website_year-declaration{
    margin-right: 3.9rem
  }
  .website_year-declaration {
    margin-left: 6rem;
  }
}
@media screen and (max-width: 376px) {
  .website_year-declaration_left-block{
    margin-right: -2rem;
  }

}

@media screen and (max-width: 440px) {
  .trailer_iframe {
    width: 300px;
    height: 230px;
  }
}

@media screen and (max-width: 308px) {
  .trailer_iframe {
    width: 240px;
    height: 230px;
  }
}

@media screen and (max-width: 240px) {
  .trailer_iframe {
    width: 200px;
    height: 230px;
  }
}

@media screen and (max-width: 213px) {
  .trailer_iframe {
    width: 180px;
    height: 200px;
  }
}

.Gallery_heading {
  font-family: 'heading font';
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

#owl-carousel {
  position: relative;
  z-index: 0 !important;
}

.Gallery_item {
  margin: 10px;
  height: 210px;
  padding: 15px;
}

.wrapper .owl-item {
  opacity: 0.5;
  transform: scale(0.5);
}

.wrapper .owl-item.center {
  opacity: 1;
  transform: scale(1.2);
}

.owl-nav {
  font-size: 3rem;
}

.owl-prev {
  position: absolute;
  top: 30%;
  left: 0%;
  background-color: black;
}

.owl-next {
  position: absolute;
  top: 30%;
  right: 0%;
}



@media screen and (max-width: 480px) {
  .Gallery_item {
    margin: 30px;
  }
}
/* sponsor code starts here */

.Website_sponsor_heading {
  font-family: 'heading font';
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
}

#sponsor_carousel {
  position: relative;
  z-index: 0 !important;
}

.Sponsor_item {
  margin: 10px;
  height: 210px;
  padding: 15px;
}

.Website_sponsor_wrapper .owl-item {
  opacity: 0.5;
  transform: scale(0.5);
}

.Website_sponsor_wrapper .owl-item.center {
  opacity: 1;
  transform: scale(1.2);
}

.owl-nav {
  font-size: 3rem;
}

.owl-prev {
  position: absolute;
  top: 30%;
  left: 0%;
  background-color: black;
}

.owl-next {
  position: absolute;
  top: 30%;
  right: 0%;
}



@media screen and (max-width: 480px) {
  .Sponsor_item {
    margin: 30px;
  }
  .About__Us__About__Sliet__Description {
    
    width: 20rem;
  }
}
/* footer section */

.footer {
  position: fixed;
  bottom: 0px;
  text-align: center;
  width: 100%;
  display: none;
}

.show,
.footer:hover {
  display: block;
}

.social-icons {
  width: 100%;
  height: auto;
  padding: 10px;
  padding-bottom: 15px;
  border-top: 0.5px solid white;
  border-left: 0.5px solid white;
  border-right: 0.5px solid white;
  backdrop-filter: blur(6px);
}

.social-icons a i {
  color: white;
  padding: 0 10px;
}

.social-icons .fa-facebook-square:hover {
  color: #6195ff !important;
  transition: 0.3s ease;
}

.fa-twitter-square:hover {
  color: #1da1f2 !important;
  transition: 0.3s ease;
}

.fa-instagram:hover {
  color: #cd486b !important;
  transition: 0.3s ease;
}

.fa-linkedin-square:hover {
  color: #0e76a8 !important;
  transition: 0.3s ease;
}

.fa-youtube-play:hover {
  color: #ff0000 !important;
  transition: 0.3s ease;
}

.fa-telegram:hover {
  color: #0088cc !important;
  transition: 0.3s ease;
}
