.homepage_gif {
  display: block;
}

.homepage_gif_mobile {
  display: none;
}
.workShop_Animation {
  animation: animate 3s linear infinite;
}

@keyframes animate {
  50% {
    transition: 1s ease;
    transform: translateY(-20px);
  }

  100% {
    transition: 1s ease;
    transform: translateY(0px);
  }
}

@media all and (max-width: 499px) {
  .homepage_gif {
    display: none;
  }
  .homepage_gif_mobile {
    display: block;
  }
  .scroll__text {
    display: none;
    color: transparent;
  }
  .btn-none {
    width: 213px;
    margin-top: 10px;
  }
  .scroll {
    bottom: 0rem;
  }
}

.Logo_image {
  width: 200px;
  height: 200px;
}

.logo_section {
  margin-top: -3rem;
}

.logo_section__image {
  position: relative;
}

.logo_section_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logo_section__image img {
  filter: drop-shadow(0.5rem 0.5rem 3rem rgb(51, 250, 1));
}

.logo_section__image img:hover {
  filter: drop-shadow(0.5rem 0.5rem 4rem rgb(51, 250, 1));
}

.logo_section__about {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logo_section_about__heading h2 {
  font-size: 2.9rem;
  font-family: Helvetica;
}

.logo_section_button_section__About_Us {
  border: 1px solid gray;
  background-color: transparent;
  outline: none !important;
  box-shadow: none;
}

.btn-green,
.btn-green:hover,
.btn-green:active,
.btn-green:visited {
  color: white;
  background: linear-gradient(
    to right,
    rgb(0, 36, 0) 0%,
    rgb(0, 87, 0) 0%,
    rgb(0, 138, 0) 72%,
    rgb(82, 177, 82) 100%
  ) !important;
}

.btn-none,
.btn-none:active,
.btn-none:visited {
  color: black;
  background: transparent !important;
  border: 2px solid rgb(0, 138, 0);
}

button:active {
  transform: scale(1.1);
}
/* Scroll Down Button Styling Start*/

.Home__background {
  background-image: url("../../images/Stagnant-BG-Webp.webp");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

html {
  scroll-behavior: smooth;
}

.scroll {
  display: flex;
  align-items: center;
  justify-content: flex-end;
 
  margin: -140px 40px 0 0;

}

.scroll__text {
  background-color: rgb(30, 30, 39);
  color: white;
  border-radius: 30px;
  cursor: pointer;
  width: 156px;
  height: 38px;
  margin-right: -25px;
}

.scroll__text h6 {
  padding: 8px 0 0 20px;
}

.scroll__goto {
  width: 53px;
  height: 53px;
  border-radius: 50%;
  background-color: rgb(30, 30, 39);
  padding: 15px 15px 15px 15px;
  color: greenyellow;
  filter: drop-shadow(0.2rem 0.2rem 1rem rgb(65, 241, 21));
  text-align: center;
  cursor: pointer;
}

.scroll__goto .fa-chevron-down {
  font-size: 24px;
}

/* Scroll Down Button Styling End*/


.scroll__text {
  z-index: 1;
}

.scroll__goto {
  z-index: 2;
}

@media only screen and (max-width: 768px) {
  .logo_section__about {
    width: 71%;
  }
  .logo_section_about__heading h2 {
    font-size: 2.3rem;
  }
}

@media only screen and (max-width: 768px) {
  .logo_section__about {
    width: 90%;
  }
  .logo_section_about__heading h2 {
    font-size: 1.5rem;
  }
  .blockquote {
    font-size: 1.1rem;
  }
}
/* workshop car par is hare ------------------------------ */

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: rgb(0, 0, 0);
}

.cards-container_card1 {
  width: 300px;
}

.cards-container_card1_image img {
  width: 100%;
  height: auto;
}

.cards-container_card1_description-container {
  text-align: center;
  color: white;
  padding: 5px;
}

.cards-container_card1_description-container_title {
  font-family: "heading-font";
  font-size: large;
}

.cards-container_card1_description-container_content {
  margin: 21px;
  font-family: Arial, Helvetica, sans-serif;
  word-spacing: 1px;
  font-weight: lighter;
}

.cards-container_card1_description-container_btn {
  padding: 5px;
  margin: 15px;
}

.cards-container_card1_description-container_btn a {
  text-decoration: none;
  color: white;
  border: 1px solid white;
  padding: 6px;
  border-radius: 6px;
}

.cards-container_card2 {
  width: 300px;
}

.cards-container_card2_image {
  display: flex;
  justify-content: center;
}

.cards-container_card2_image img {
  width: 100%;
  height: auto;
}

.cards-container_card2_description-container {
  text-align: center;
  color: white;
  padding: 5px;
}

.cards-container_card1_description-container_title {
  font-family: "heading-font";
  font-size: large;
}

.cards-container_card2_description-container_content {
  margin: 21px;
  font-family: Arial, Helvetica, sans-serif;
  word-spacing: 1px;
  font-weight: lighter;
}

.cards-container_card2_description-container_btn {
  padding: 5px;
  margin: 15px;
}

.cards-container_card2_description-container_btn a {
  text-decoration: none;
  color: white;
  border: 1px solid white;
  padding: 6px;
  border-radius: 6px;
}


/* price money people icon section is here ---------------*/

.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.college {
  border-right: 8px solid rgb(1, 250, 76);
  border-radius: 2px;
}

.people {
  border-right: 8px solid rgb(1, 250, 76);
  border-radius: 2px;
}

@media screen and (max-width: 490px) {
  .money {
    border-bottom: 8px solid rgb(1, 250, 76);
    border-radius: 2px;
    border-right: unset;
  }
  .college {
    border-bottom: 8px solid rgb(1, 250, 76);
    border-radius: 2px;
    border-right: unset;
  }
  .people {
    border-bottom: 8px solid rgb(1, 250, 76);
    border-radius: 2px;
    border-right: unset;
  }
  .logo_section_about__heading h2 {
    font-size: 30px;
  }
  .blockquote p {
    font-size: 15px;
  }
}
/* This is the footer section ................... */
