li::after {
  width: 0;
  height: 2px;
  content: "";
  background: rgb(65, 241, 21);
  display: block;
  transition: 0.5s;
}
.navbar__justyfy{
  display: flex;
  justify-content: space-between;
  
  
}

li:hover::after {
  width: 100%;
}

.nav-item a.active {
  border-bottom: 2px solid rgb(65, 241, 21);
}

.dropdown-menu li a:hover {
  background-color: rgb(17, 34, 13) !important;
}

.dropdown-menu {
    position: absolute !important;
    z-index: 1 !important;
  }

@media screen {
    .dropdown:hover .dropdown-menu,
    .btn-group:hover .dropdown-menu {
      display: block;
    }
    .dropdown-menu {
      margin: auto;
    }
    .dropdown-toggle {
      margin: auto;
    }
    .navbar .dropdown-toggle,
    .nav-tabs .dropdown-toggle {
      margin: auto;
    }
  }


