body {
  overflow-x: hidden !important;
  background-color: rgb(0, 0, 0);
}

html {
  scroll-behavior: smooth;
}

p {
  font-family: helvetica !important;
  opacity: 0.8;
}

li::after {
  width: 0;
  height: 2px;
  content: "";
  background: rgb(65, 241, 21);
  display: block;
  transition: 0.5s;
}

li:hover::after {
  width: 100%;
}

.nav-item a.active {
  border-bottom: 2px solid rgb(65, 241, 21);
}

.dropdown-menu li a:hover {
  background-color: rgb(17, 34, 13) !important;
}

.img1 {
  display: block;
}

.img2 {
  display: none;
}
.workShop_Animation {
  animation: animate 3s linear infinite;
}

@keyframes animate {
  50% {
    transition: 1s ease;
    transform: translateY(-20px);
  }

  100% {
    transition: 1s ease;
    transform: translateY(0px);
  }
}

