
@font-face {
    font-family: Clip;
    src: url("https://acupoftee.github.io/fonts/Clip.ttf");
  }
.Date_horizontal{
    position: fixed;
    top: 3.6rem;
    background-color: rgb(0, 0, 0,0);
    text-align :center;
    z-index: 100;
    display: none;
    width: 100%;
    font-family: "bestinClass";
    backdrop-filter: blur(3px);
    letter-spacing: 1px;

    
}
.Date_horizontal__text{
    animation: move 10s linear infinite;
    transform: translateX(100%);
    text-shadow: 0 0 0.6rem #20d6c4, 0 0 1.5rem #39fbeb,
      -0.2rem 0.1rem 1rem #65ff9d, 0.2rem 0.1rem 1rem #65ff9d,
      0 -0.5rem 2rem #48ff24, 0 0.5rem 3rem #5bff24;
    color: rgb(134, 255, 20);
    font-style: italic;
    margin-top: .5rem;
}

@keyframes move {
    to { transform: translateX(-100%); }
  }
@media screen and  (max-width:500px){
    .Date_horizontal{
        display: block;
    }
    
}