@font-face {
    font-family: helveticaregular;
    src: url("./font/HelveticaNowDisplay-Regular.ttf");
}
@font-face {
    font-family: bestinClass;
    src: url("./font/BEST\ IN\ CLASS.ttf");
}
@font-face {
    font-family: Vipnagorgialla;
    src: url("./font/vipnagorgialla.ttf");
}
p{
    font-family: "helveticaregular" !important;
}
a{
    font-family: "helveticaregular" !important;
}
.domain__cordinator__img img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.domain__cordinator{
    margin: auto;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 5rem;
    margin-top: 5rem;
}