@font-face {
    font-family: helveticaregular;
    src: url("./font/HelveticaNowDisplay-Regular.ttf");
}
@font-face {
    font-family: bestinClass;
    src: url("./font/BEST\ IN\ CLASS.ttf");
}
@font-face {
    font-family: Vipnagorgialla;
    src: url("./font/vipnagorgialla.ttf");
}
p{
    font-family: "helveticaregular" !important;
}
a{
    font-family: "helveticaregular" !important;
}