*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.Robozar p{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1.5rem;
}
.Robozar__content{
    color: white; z-index: 0; position: absolute;bottom: -10rem; text-align: center;
}
.circle {
    margin: auto;
    margin-top: 5rem;
    position: relative;
    width: 60vh;
    height: 60vh;
    z-index: 1;
    background: linear-gradient(#33ccff, #201b1d);
    border-radius: 50%;
    


}
.circle img {
    animation: animate 2s linear infinite;
    z-index: 1; position: absolute;top: -1rem;width: 100%;height: 100%;left: 0rem;
}

@keyframes animate {

    
    50% {
        
        transition: 1s ease; 
        transform: translateY(-20px);
    }

    100% {
       
        transition: 1s ease; 
        transform: translateY(0px);
    }
}

.circle:after {

    content: '';
    position: absolute;
    top: 35px;
    right: 35px;
    bottom: 35px;
    left: 35px;
    border-radius: 50%;
    background-color: black;
}

.circle span {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(#04fd25, #000000, rgb(0, 0, 0));
    border-radius: 50%;
}

.circle span:nth-child(1) {
    filter: blur(25px);
    
}

.circle span:nth-child(2) {
    filter: blur(15px);
}

.circle span:nth-child(3) {
    filter: blur(20px);
}

.circle span:nth-child(4) {
    filter: blur(55px);
}

@media screen and(max-width:376px) {
    .circle {
        width: 50vh !important;
        height: 50vh !important;
    }

    .circle span {
        width: 90%;
        height: 90%;
    }
}


.Robozar{
   background-image: url("image/Group.png"),url("image/Group\ \(1\).png");
   background-repeat: no-repeat;
   background-position: right,left;
   background-blend-mode:color;
   background-color: rgba(0, 0, 0, 0.9);
   animation: backAnimate 20s  forwards ;
   margin-top: 7.5rem !important;
   
   
   
}
@media (max-width:426px) {
   .Robozar{
       background: none ;
     animation: none;
   }
   body{
    background-color:rgb(2, 10, 2)
   }
}
@keyframes backAnimate{
        0%{
            background-color: rgba(0, 0, 0, 1);
            
        }
        10%{
            background-color: rgba(0, 0, 0, 0.9);
            
        }
        20%{
            background-color: rgba(0, 0, 0, 0.7);
            
        }
        30%{
            background-color: rgba(0, 0, 0, 0.6);
           
        }
        40%{
            background-color: rgba(0, 0, 0, 0.5);
            
        }
        
        50%{
            background-color: rgba(0, 0, 0, 0.4);
          
        }
        
        70%{
            background-color: rgba(0, 0, 0, 0.3);
            
        }
        
        90%{
            background-color: rgba(0, 0, 0, 0.4);
            
            
        }
        100%{
            background-color: rgba(0, 0, 0, 0.5);
            
           
        }
       }
        

.Robozar__bottom{
    background-image: url("./image/bgoverlay-left.png"),url("./image/background-overlay-right.png");
    background-position: left,right;
    background-repeat: no-repeat;
    background-size: 60% ,60%;
    margin-top: 10rem;
}
.robozar_main_container{
    min-height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    margin-bottom: 2rem;
}
.robozar_container{
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.robozar_left_container{
    width: 60%;
    height: 400px;
    background-image: url("./image/thisisengineering-raeng-4w0XkDe2Ee8-unsplash\ 2.png");
    background-size: cover;
    border-radius: 15px;
}
.robozar_right_container{
    width: 25%;
    min-height: 300px;
    background-color: rgb(92, 89, 89,.6);
    padding: 10px;
    border: 3px solid rgb(6, 248, 59);
    margin: -100px;
    border-radius: 15px;
}
.robozar_register_button{
    text-decoration: none;
    background-color:rgb(18, 189, 18);
    color: white;
    padding: 5px 20px;
    border-radius: 5px;
    display: inline-block;
}
.robozar_problem_statement_button{
    text-decoration: none;
    background-color:none;
    border: 1px solid white;
    color: white;
    padding: 5px 20px;
    margin-left: 15px;
    border-radius: 5px;
    display: inline-block;
}
.robozar_left_content{
    margin:30px 120px 30px 30px ;
}
@media(max-width:860px) {
  .robozar_register_button{
      padding: 5px 8px;
  }
  .robozar_problem_statement_button{
      padding: 5px 8px;
  }
  .robozar_main_container{
    min-height: 100vh;
}
}

@media(max-width:768px) {
    .robozar_main_container{
        flex-direction:column;
        -ms-flex-direction: column;
    }
    .robozar_container{
        flex-direction:column;
        -ms-flex-direction: column;
        width: 100%;
        padding: 15px;
    }
    .robozar_left_container{
        width: 100%;
        height: 400px;
    }
    .robozar_left_content{
         margin:30px;
        align-items: center;
        justify-content: center;
    }
    .robozar_right_container{
        width: 70%;
        margin-top: -100px;
    }
    .Robozar__bottom{
        margin-bottom: 7rem;
    }
}
@media screen and (max-width:426px) {
    .Robozar__bottom{
        margin-bottom:10rem;
        margin-top: 12rem;
    }
}
@media screen and (max-width:321px) {
    .robozar_main_container{
        margin-left:1.6rem;
        margin-right: unset;
        
    }
    .Robozar__bottom{
        background-position: left,bottom;
        background-size: 80% ,100%;
    }
    .robozar_right_container{
        margin-top: -7rem !important;
    }
}
@media(max-width:360px) {
    .robozar_left_container{
        height: 500px;
    }
    .robozar_right_container{
        width: 75%;
        margin-top: -80px;
    }
    .robozar_main_container{
        margin-bottom: 100px;
    }
    .robozar_problem_statement_button{
        padding: 5px 20px;
        margin: 10px auto auto 0px;
        border-radius: 5px;
        display: inline-block;
    }
}