.Mainomainbody {
  overflow-x: hidden !important;
  background: url(../../images/Stagnant-BG-Webp.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.Mainomainbody__slider{
  margin-top: 6rem;
}
.Mainomainbody__slider img{
  border-radius: 20px;
  width: 100%;
  height: 25rem;
}
.Mainomainbody__slider .slick-dots{
      color: white;
      list-style: none;
      
}
.Mainomainbody__slider li button{
  background-color: rgb(240, 247, 240);
  color: white;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  list-style: none;
}
.Mainomainbody__slider li{
  list-style: none;
}

.Mainomainbody__slider li.slick-active button
{
  background-color: rgb(44, 155, 0);
  
}
.nav-item a.active {
  border-bottom: 2px solid rgb(65, 241, 21);
}



/* This is the footer section ................... */
.domain__card{
  margin-bottom: 5rem;
  margin-top: 7rem;
}
.Domain__button{
outline: none;
border: none;
background: #27FE04  !important;
color: #000 !important;
font-style: normal !important;
font-weight: 400;
border-radius: 10px !important;
font-family: "helveticaregular";
padding: 7px;
text-decoration: none;
}
.Domain__button:hover{
  color:white !important;
}
.card__Style{
  width: 18rem;
  background-color: rgb(0,0,0,0);
  border: 1px solid white;
  padding: 2px;
  transition: all .5s ease;
  margin-right: 1rem;
  color: white !important;
  margin-top: 1rem;
}
.card__Style img{
  height: 14rem;
}
.card__Style:hover{
  transform: scale(1.06);
  transition: all .5s ease;
}
.Domain__card__row1{
  justify-content: space-around;
}

.Domain__card__row2{
  justify-content: space-around;
  margin-top: 3rem;
}
.Domain__card__row3{
  justify-content: space-evenly;
  margin-left: 2rem;
  margin-top: 3rem;
}


@media screen and (max-width:750px) {
  
  .Domain__card__row1{
    display: block !important;
    margin-left: 1rem;
  }
  .Domain__card__row2{
    display: block !important;
   
    margin-left: 1rem;
  }
  .Domain__card__row3{
    display: block !important;
    margin-left: 1rem;
  }
  .card__Style {
    width: 23rem;
  }
}
@media screen and (max-width:423px)
{
  .card__Style {
    width: 20rem;
    margin-top: 3rem;
  } 
 
  
}
@media screen and  (max-width:440px) {
  .Mainomainbody__slider img{
    height: 15rem;
  }
  
}
@media screen and (max-width:375px)
{
  .card__Style {
    width: 16.5rem;
    margin-top: 3rem;
  } 
  .Domain__card__row1{
    
    margin-left: 2.5rem;
  }
  .Domain__card__row2{
  
   
    margin-left: 2.5rem;
  }
  .Domain__card__row3{
    
    margin-left: 2.5rem;
  }

}
@media screen and (max-width:325px)
{
 
  .Domain__card__row1{
    
    margin-left: 1rem;
  }
  .Domain__card__row2{
  
   
    margin-left: 1rem;
  }
  .Domain__card__row3{
    
    margin-left: 1rem;
  }

}