.Slider_container {
  background-color: transparent;
  margin-left: 10rem;
  margin-right: 10rem;
  text-align: center;
}
.Slider_container h1 {
  color: white;
  margin-bottom: 1.5rem;
}
.Slider__image img {
  width: 20rem;
  height: 13rem;
}
.Slider__image img:first-child {
  margin-left: 2.5rem;
}

@media screen and (max-width: 1025px) {
  .Slider__image img {
    width: 13rem;
    height: 10rem;
  }
  .Slider__image img:first-child {
    margin-left: 0.8rem;
  }
}
@media screen and (max-width: 769px) {
  .Slider__image img {
    width: 8.5rem;
    height: 7rem;
  }
  .Slider__image img:first-child {
    margin-left: 0.4rem;
  }
}
@media screen and (max-width: 600px) {
  .Slider_container {
    margin-left: 2rem;
    margin-right: 2rem;
    text-align: center;
  }
  .Slider__image img:first-child {
    margin-left: 0.5rem;
  }
}
@media screen and (max-width: 426px) {
  .Slider__image img {
    width: 20rem !important;
    height: 12rem !important;
  }
  .Slider__image {
    margin-left: 1rem;
  }
  .Slider__image img:first-child {
    margin-left: 0.5rem;
  }
}

@media screen and (max-width: 376px) {
  .Slider__image img:first-child {
    margin-left: -0.2rem;
  }
  .Slider__image img {
    width: 18rem !important;
    height: 10rem;
  }
}
@media screen and (max-width: 326px) {
  .Slider__image img:first-child {
    margin-left: -0.8rem;
  }
  .Slider__image img {
  
    height: 10rem !important;
  }
  .Slider_container {
    margin-left: 1rem;
    margin-right: 1rem;
    /* text-align: center; */
  }
}
